parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    paths:
        - .
    excludePaths:
        - Tests
        - vendor
        - Event/SymfonyEvent.php

    ignoreErrors:
        -
            message: '#^Cannot cast mixed to.*#'
            paths:
                - Command/SwarrotCommand.php
                - Processor/MaxExecutionTime/MaxExecutionTimeProcessorConfigurator.php
                - Processor/MaxMessages/MaxMessagesProcessorConfigurator.php
                - Processor/Retry/RetryProcessorConfigurator.php
